:root {
  --bgColor: white;
  --inputColor: black;
  --outlineColor: dodgerblue;
  --beamColor: rgb(255, 0, 0);
  --spacer: 1rem;
}

* {
  box-sizing: border-box;
  transition: all 0.5s;
}

html,
body {
  height: 100%;
  transition: all 0.5s;
}

body {
  display: grid;
  place-items: center;
  background: var(--bgColor);
  overflow: hidden;
}

body.show-password {
  --bgColor: black;
  --inputColor: rgb(255, 0, 0);
  --outlineColor: var(--beamColor);
}

label,
input,
button {
  font-size: 1.5rem;
  font-family: monospace;
  color: var(--inputColor);
}

label:focus,
input:focus,
button:focus {
  outline: 3px solid var(--outlineColor);
  outline-offset: 2px;
}

form {
  padding: var(--spacer);
  transform: translate3d(0, 0, 0);
}
form > * + * {
  margin-top: var(--spacer);
}
.form-item > * + * {
  margin-top: 0.5rem;
}

button {
  border: none;
}

#submit {
  cursor: pointer;
  margin-top: calc(var(--spacer) * 2);
  padding: 0.75rem 1.25rem;
  color: var(--bgColor);
  background-color: var(--inputColor);
  box-shadow: 4px 4px 0 rgba(30, 144, 255, 0.2);
  transition: all 0.5s ease;
}

#submit:hover {
  box-shadow: -4px 4px 0px 0px rgb(153, 153, 153);
}

#submit:active {
  transform: translateY(1px);
}

.input-wrapper {
  position: relative;
}

input {
  padding: 0.75rem 4rem 0.75rem 0.75rem;
  width: 100%;
  border: 2px solid transparent;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px black, inset 6px 6px 0 rgba(30, 144, 255, 0.2),
    3px 3px 0 rgba(30, 144, 255, 0.2);
}

input:focus {
  outline-offset: 1px;
}

.show-password input {
  box-shadow: inset 0 0 0 2px black;
  border: 2px dashed white;
}

.show-password input:focus {
  border-color: var(--beamColor);
  outline: none;
}

#eyeball {
  --size: 1.25rem;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
}

#eyeball:active {
  transform: translateY(calc(-50% + 1px));
}

.eye {
  width: var(--size);
  height: var(--size);
  border: 2px solid var(--inputColor);
  border-radius: calc(var(--size) / 1.5) 0;
  transform: rotate(45deg);
}

.eye:before,
.eye:after {
  content: "";
  position: absolute;
  right: 2px;
  margin: auto;
  border-radius: 100%;
}

.eye:before {
  right: 6px;
  bottom: 6px;
  width: 30%;
  height: 30%;
  background-color: var(--inputColor);
}

.eye:after {
  top: 1px;
  width: 65%;
  height: 65%;
  border: 2px solid var(--inputColor);
}

#beam {
  position: absolute;
  top: 50%;
  right: 1.75rem;
  width: 100vw;
  height: 25vw;
  clip-path: polygon(100% 50%, 100% 50%, 0 0, 0 100%);
  z-index: 1;
  mix-blend-mode: multiply;
  pointer-events: none;
  transition: transform 200ms ease-out;
  transform-origin: 100% 50%;
  transform: translateY(-50%) rotate(var(--beamDegrees, 0));
}

body.show-password #beam {
  background: var(--beamColor);
}
